#notification-text {
  position: absolute;
  color: white;
  left: 0;
  right: 0;
  bottom: 80px;
  border-radius: 12px;
  margin: 4px;
  padding: 8px;
  transition: all 0.5s ease-in-out;
  background-color: rgba(30, 30, 30, 0.3);
  font-size: 9px;
  text-wrap: wrap;
}

#notification-text:disabled {
  translate: -100% 0;
}
